script(src="lib/angular/angular.js")
script(src="lib/angular-animate/angular-animate.js")
script(src="lib/angular-aria/angular-aria.js")
script(src="lib/angular-messages/angular-messages.js")
script(src="lib/angular-material/angular-material.js")
script(src="lib/angular-material-icons/angular-material-icons.js")
script(src="lib/angular-route/angular-route.js")

script(src="lib/textAngular/dist/textAngular-rangy.min.js")
script(src="lib/textAngular/dist/textAngular-sanitize.js")
script(src="lib/textAngular/dist/textAngular.js")
script(src="lib/textAngular/dist/textAngularSetup.js")

