md-content(class="md-padding" layout-xs="column" layout-sm="column" layout="row" layout-align="space-between none")
    div(flex layout="row" layout-align="center center")
        md-content(flex)
            h1 For him
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis id leo id tempus. Mauris ullamcorper volutpat mauris, nec convallis magna varius sit amet. Donec et urna sit amet est mollis aliquam in non tortor. Nullam in tincidunt nisi, eu sodales velit. Duis id est quis ipsum euismod pharetra a nec tellus. Donec vestibulum dui ac lacinia commodo. Ut at dolor pulvinar, euismod eros a, pretium lacus. Morbi eget lectus semper, ultrices dolor sed, laoreet urna. Nunc mattis, lectus q
            h2 For him
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis id leo id tempus. Mauris ullamcorper volutpat mauris, nec convallis magna varius sit amet. Donec et urna sit amet est mollis aliquam in non tortor. Nullam in tincidunt nisi, eu sodales velit. Duis id est quis ipsum euismod pharetra a nec tellus. Donec vestibulum dui ac lacinia commodo. Ut at dolor pulvinar, euismod eros a, pretium lacus. Morbi eget lectus semper, ultrices dolor sed, laoreet urna. Nunc mattis, lectus q
            h2 For him
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sagittis id leo id tempus. Mauris ullamcorper volutpat mauris, nec convallis magna varius sit amet. Donec et urna sit amet est mollis aliquam in non tortor. Nullam in tincidunt nisi, eu sodales velit. Duis id est quis ipsum euismod pharetra a nec tellus. Donec vestibulum dui ac lacinia commodo. Ut at dolor pulvinar, euismod eros a, pretium lacus. Morbi eget lectus semper, ultrices dolor sed, laoreet urna. Nunc mattis, lectus q

    div(id="about-image")
        img(ng-src="https://firebasestorage.googleapis.com/v0/b/remin-f1785.appspot.com/o/main%2Fswimmerdieb.jpg?alt=media&token=5ff8d597-3593-4aea-ae87-2040447b110a" )
