script(src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js")
script(src="https://www.gstatic.com/firebasejs/ui/0.4.0/firebase-ui-auth.js")
script(src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js")

script.
    // Initialize Firebase
    console.log('Firebase.init');

    var config = {
        apiKey: "AIzaSyAV8adlVmIQBuhSR-TRtr7kr8310k2CPBI",
        authDomain: "remin-f1785.firebaseapp.com",
        databaseURL: "https://remin-f1785.firebaseio.com",
        storageBucket: "remin-f1785.appspot.com"
    };

    var app = firebase.initializeApp(config);
    var auth = app.auth();

    var storage = firebase.storage();
    var storageRef = storage.ref();

    auth.signInWithEmailAndPassword("aaronmyatt@gmail.com", "1234qwer");
