@import "variables";

body {
  background-color: white;

  .md-button.md-fab {
    @media (max-width: 600px) {
        height: 40px;
        width: 40px;
    }

    svg {
      height: 36px;
      width: 36px;
      transform: translate3d(-18%, -40%, 0);
      @media (min-width: 600px) {
        transform: translate3d(-25%, -26%, 0);
        height: 48px;
        width: 48px;
      }
    }
  }
}