@import "variables";

body {

  font-family: $font2;
  background-color: white;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/remin-f1785.appspot.com/o/main%2F3.jpg?alt=media&token=ec998de7-da9f-4257-b6dd-4c3a5a536490");

  .md-button.md-fab {
    @media (max-width: 600px) {
        height: 40px;
        width: 40px;
    }

    svg {
      height: 36px;
      width: 36px;
      transform: translate3d(-18%, -40%, 0);
      @media (min-width: 600px) {
        transform: translate3d(-25%, -26%, 0);
        height: 48px;
        width: 48px;
      }
    }
  }
}