#grid {
  #brick-message {
    text-align: center;
  }
  img {
    max-height: 400px;
    display: block;

    @media (max-width: 600px) {
      width:100%;
    }
  }

  #text-only-brick {
    max-width: 500px;
  }
}
