md-content(md-whiteframe="1" class="brick")

  // Memory brick template if an image is present
  div(ng-show="vm.memory.ref" ng-if="vm.memory.file")
    img(ng-src="{{vm.memory.ref}}"
      ng-click="vm.showAdvanced($event)")
    md-content(class="brick-message" ng-bind-html="vm.memory.message | Cut:true:250")

  // Text only memory brick template
  md-content(ng-if="!vm.memory.file" class="text-only-brick" ng-click="vm.showAdvanced($event)")
    p(ng-bind-html="vm.memory.message | Cut:true:1250"  class="brick-message")

