md-content(md-whiteframe="1")

  // Memory brick template if an image is present
  div(ng-show="vm.memory.ref" ng-if="vm.memory.file" )
    img(ng-src="{{vm.memory.ref}}"
      ng-click="vm.showAdvanced($event)")
    md-content
      p(id="brick-message") {{vm.memory.message}}

  // Text only memory brick template
  md-content(ng-if="!vm.memory.file" id="text-only-brick" ng-click="vm.showAdvanced($event)")
    p(ng-bind-html="vm.memory.message" id="brick-message")

