//include ../devutil.jade

div(class="memory-modal")
    div(layout="row" layout-align="end center")
        span(ng-if="vm.isUploader()")
            md-button(ng-click="vm.remove()") Delete
        md-button(ng-click="vm.hide()")
            ng-md-icon(icon="close" size="24")
    md-card
        img(ng-show="vm.locals.memory.ref" ng-src="{{vm.locals.memory.ref}}" class="md-card-image")
        md-card-content
            div(layout="row" layout-align="center center")
                p(ng-bind-html="vm.locals.memory.message" id="brick-message")
        small Created by: {{vm.locals.memory.uploader_name}}
        md-button(ng-click="vm.hide()") Close
