doctype
html.no-js(lang="" ng-app="app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= pageTitle || siteTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="app.css")
  body
    != yield


    script(src="lib/bricklayer/dist/bricklayer.js")
    script(src="lib/angular/angular.js")
    script(src="lib/angular-route/angular-route.js")
    script(src="lib/angular-bricklayer/dist/angular-bricklayer.js")

    script(src='app.routes.js')
    script(src="app.module.js")
    script(src="scripts/index/index.controller.js")