doctype
html.no-js(lang="" ng-app="app" ng-cloak)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= pageTitle || siteTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // FONTS
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css')

    // CSS
    link(rel="stylesheet" href="lib/angular-material/angular-material.css")
    link(rel="stylesheet" href="lib/angular-material-icons/angular-material-icons.css")
    link(rel="stylesheet" href="app.css")
  body
    div(id="quickstart-sign-in-status")
    div(id="quickstart-sign-in")
    div(id="firebaseui-auth-container")

    div(ng-controller="IndexController as vm")

      //include devutil.jade
      != yield

    include lib/lib-dependencies.jade
    include firebase/firebase.jade
    script(src="firebase-storage-service/firebase-storage.service.js")

    include profile/profile-dependencies.jade
    include auth/auth-dependencies.jade
    include memory-brick/memory-brick-dependencies.jade
    include add-memory/add-memory-dependencies.jade
    include about-modal/about-modal-dependencies.jade
    include core/core-dependencies.jade
    script(src="index.controller.js")
    script(src="firebase/firebase.service.js")