doctype
html.no-js(lang="" ng-app="app")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title= pageTitle || siteTitle
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="app.css")
  body
    div(id="quickstart-sign-in-status")
    div(id="quickstart-sign-in")
    div(id="firebaseui-auth-container")

    != yield

    script(src="lib/angular/angular.js")

    include firebase/firebase.jade

    script(src="lib/bricklayer/dist/bricklayer.js")
    script(src="lib/angular-bricklayer/dist/angular-bricklayer.js")
    script(src="lib/angular-route/angular-route.js")

    include auth/auth-dependencies.jade

    script(src="brick-service/brick.service.js")

    include core/core-dependencies.jade

    script(src="firebase/firebase.service.js")
    script(src="index/index.controller.js")