include ../devutil.jade

md-content(class="md-padding" layout-xs="column" layout="row")
    div(flex-xs flex-gt-xs="50" layout="column")
        md-card
            form(name="form")

                md-card-title
                    md-card-title-text
                        h2 New Message
                md-card-content
                    md-button(ng-model="vm.file" name="file" ngf-select ngf-pattern="'image/*'"
                              ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100") Select Image

                    //Server authentication error
                    p(ng-show="vm.error" class="text-danger" ng-bind="vm.error")

                    md-input-container(class="md-block")
                        textarea(ng-model="vm.message"
                                 name="message" placeholder="Message" required autofocus
                                 rows="5" md-select-on-focus)

                    md-card-actions(layout="row" layout-align="end center")
                        md-button(class="md-raised md-primary" type="submit" ng-click="vm.submit()") Submit
    div(flex-xs flex-gt-xs="50" layout="column")
        img(ng-src="{{vm.file.$ngfBlobUrl}}" class="md-card-image")