md-content
  div(id="grid" layout="row" layout-xs="column" layout-sm="column"
      layout-align="center center" layout-wrap layout-padding layout-margin)
    div(ng-repeat="memory in vm.memories | orderBy:'-timestamp'" ng-cloak)
      gz-memory-brick-directive(memory="memory")
